Repository voxpupuli/puppet-unbound, pull requests merged in 2020-04, with the labels that each got.

#232 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#233 Add support for CentOS / RedHat 8
  .sync.yml
  .travis.yml
  metadata.json
Labels: enhancement

#234 Release 2.7.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
