Repository voxpupuli/puppet-unbound, pull requests merged in 2020-09, with the labels that each got.

#243 Implement Archlinux support
  README.md
  metadata.json
Labels: enhancement

#245 release 2.8.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#246 Drop Debian 6/7/8 support and compatibility
  data/os/Debian/6.yaml
  data/os/Debian/7.yaml
  data/os/Debian/8.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: backwards-incompatible

#241 Add support for stub-no-cache option
  manifests/stub.pp
  spec/defines/stub_spec.rb
  templates/stub.erb
Labels: enhancement

#247 Fix erb template to allow string for address attribute
  spec/defines/stub_spec.rb
  templates/stub.erb
Labels: bug

#249 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
