Repository voxpupuli/puppet-unbound, pull requests merged in 2021-09, with the labels that each got.

#281 Add support for Debian 11
  metadata.json
Labels: enhancement

#280 Drop support for Debian 9 (EOL)
  metadata.json
Labels: backwards-incompatible

#282 modulesync 4.2.0
  .github/workflows/ci.yml
Labels: modulesync
